/* Página de CONTACTENOS -- estilos  */

/* CONTACTO */
.contact-section {
    max-width: 1000px;
    margin: auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ffffff;
    margin-top: 120px;
}
 
label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    color: white;
}
 
input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
    background-color: #fff; /* Fondo blanco */
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
 
textarea {
    font-family: Arial, sans-serif;
    font-size: 1.1em;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    resize: vertical;
    box-sizing: border-box;
}
 
.contact-section .btn-enviar {
    margin-top: 15px;
    background-color: #4a90e2;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
 
.contact-section .btn-enviar:hover {
    background-color: #357ab8;
}
 
.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
 
.info .texto {
    flex: 1 1 60%;
}
 
.info .boton {
    flex: 1 1 30%;
    display: flex;
    justify-content: flex-end;
}
 
.info .boton button {
    padding: 12px 24px;
    font-size: 1rem;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
 
.info .boton button:hover {
    background-color: #666;
}
 
.info-contacto {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
 
.contacto-titulo {
    color: white;
}
.card-header h3 {
    color: white;
}
.card-header {
    background-color: #261E45 !important;
    border-bottom-color: #08E2E3 !important;
}
.info-contacto .columna {
    flex: 1;
    min-width: 250px;
   
}
.info-contacto .columna h3 {
    color: white;
}
 
.formulario-contacto {
    margin-top: 40px;
}

.accordion-button.custom {
    background-color: #261E45;
    color: #CEF6DD;
    border: none;
    box-shadow: none; /* quita el sombreado por defecto de Bootstrap */
}

.accordion-button.custom:hover {
    background-color: #F74380;
    color: #261E45;
}

.accordion-button.custom:not(.collapsed) {
    background-color: #08E2E3;
    color: #261E45;
}

.accordion-button.custom:focus {
    box-shadow: 0 0 0 0.25rem rgba(8, 226, 227, 0.5); /* sombra con tu cian */
}

#progreso-formulario {
    background-color: #28a745;
    transition: width 0.3s ease;
}

label,
.form-text,
.form-check-label {
    color: #000 !important; /* Negro */
}