/* Logo responsive */
.logo {
    max-width: 10vw;
    height: auto;
    min-width: 35px;
}

.nombre {
    max-height: 5vh;
    height: auto;
}

/* Botón hamburguesa */
.navbar-toggler {
    border: none;
}

/* Menú desplegable flotante */
.navbar-collapse {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    /* Sombra en todas direcciones */
    box-shadow: 0 0 10px #261E45;
}

/* Alinear opciones a la derecha */
.navbar-nav {
    text-align: right;
}